<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Lachestry_RabbitMQMonitor::rabbitmq"
             title="RabbitMQ Monitor"
             module="Lachestry_RabbitMQMonitor"
             sortOrder="100"
             parent="Magento_Backend::system"
             resource="Lachestry_RabbitMQMonitor::rabbitmq"/>
        <add id="Lachestry_RabbitMQMonitor::consumers"
             title="Consumers Status"
             module="Lachestry_RabbitMQMonitor"
             sortOrder="10"
             parent="Lachestry_RabbitMQMonitor::rabbitmq"
             action="rabbitmq_monitor/consumers/index"
             resource="Lachestry_RabbitMQMonitor::consumers"/>
    </menu>
</config> 