<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource
                    id="Lachestry_Telegram::telegram"
                    title="Lachestry Telegram"
                    translate="title"
                />
                <resource id="Lachestry_Telegram::view_additional" title="View Additional Information" sortOrder="10" />
                <resource id="Lachestry_Telegram::telegram_chats" title="Telegram Chats" sortOrder="10"/>
            </resource>
        </resources>
    </acl>
</config>
