<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <cron_monitoring>
                <rows_in_cron_group_card>5</rows_in_cron_group_card>
                <row_height_in_cron_group_card>2.5</row_height_in_cron_group_card>
            </cron_monitoring>
        </system>
    </default>
</config>
