<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Lachestry_CronMonitoring::cron_monitoring"
            title="Cron Processes Monitor"
            module="Lachestry_CronMonitoring"
            translate="title"
            sortOrder="1000"
            action="cron_monitoring/cron"
            parent="Magento_Backend::system_tools"
            resource="Lachestry_CronMonitoring::cron_monitoring"
        />

        <add
            id="Lachestry_CronMonitoring::lachestry_cron_monitoring"
            title="Cron Processes Monitor"
            module="Lachestry_CronMonitoring"
            translate="title"
            sortOrder="20"
            parent="Lachestry_Base::menu"
            resource="Lachestry_CronMonitoring::cron_monitoring"
        />
        <add
            id="Lachestry_CronMonitoring::lachestry_cron_monitoring_index"
            title="Cron Processes Monitor"
            module="Lachestry_CronMonitoring"
            translate="title"
            sortOrder="10"
            action="cron_monitoring/cron"
            parent="Lachestry_CronMonitoring::lachestry_cron_monitoring"
            resource="Lachestry_CronMonitoring::cron_monitoring"
        />
    </menu>
</config>
