<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="Lachestry_ProcessMonitor::process_monitor" title="Process Monitor" sortOrder="100">
                        <resource id="Lachestry_ProcessMonitor::process_list" title="Daemon Processes" sortOrder="10">
                            <resource id="Lachestry_ProcessMonitor::process_list_view" title="View" sortOrder="10"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config> 